<form [formGroup]="cardForm"
  novalidate
>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input formControlName="nombreCliente" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Card number</ion-label>
    <ion-input id="cc-number" formControlName="creditCard" type="tel" autocomplete="cc-number" ccNumber maxlength="19" inputmode="numeric"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Expiration date</ion-label>
    <ion-input id="cc-exp-date" formControlName="expiration" type="tel" autocomplete="cc-exp" ccExp inputmode="numeric" minlength="9"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>CVC</ion-label>
    <ion-input id="cc-cvc" formControlName="cvc" type="tel" autocomplete="off" maxlength="4" inputmode="numeric" minlength="3"></ion-input>
  </ion-item>
  <ng-content></ng-content>
</form>
