<ion-list>
  <ion-radio-group (ionChange)="cambioRadio($event)">
    <ion-list-header>Tarjetas</ion-list-header>
  <div *ngIf="tarjetas">
    <ion-item *ngFor="let card of tarjetas.cards">
      <ion-icon name="card"></ion-icon>
      <ion-label>{{card.number}}</ion-label>
      <ion-radio value="{{card.token}}"></ion-radio>
    </ion-item>
  </div>
  </ion-radio-group>
</ion-list>