<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <app-card-form
      (cardValida)="validarFormulario($event)">
          <ion-button expand="block" color="primary" [disabled]="!formularioValido" (click)="onSubmit()">Guardar</ion-button>
          <ion-button expand="block" color="secondary">Cancelar</ion-button>
      </app-card-form>
      <app-card-list></app-card-list>
  </div>
  {{tarjetaAIngresar | json}}
</ion-content>
